<!-- adds h1, good seo, and a heading for the page! -->
<% if (title) { %>
    <h1><%= title %></h1>
  <% } else {
    res.redirect('/')
    } %>
  
  <!-- displays error messages -->
  <%- messages() %>
  
  <!-- display errors -->
  <% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>
  
  <!-- display the contents of the page -->
  <form class="form">
    <fieldset class="form--fieldset"> 
      <input type="hidden" id="message_id" name="message_id" value="<%= locals.message_id %>">
      
      <label for="message_from">From:</label>
      <input type="text" id="message_from" name="message_from" value="<%= locals.account_firstname %> <%= locals.account_lastname %>" readonly>
      
      <label for="message_subject">Subject:</label>
      <input type="text" id="message_subject" name="message_subject" value="<%= locals.message_subject %>" readonly>
  
      <label for="message_body">Message:</label>
      <textarea id="message_body" name="message_body" cols="40" rows="5" readonly><%= locals.message_body %></textarea>
    </fieldset>
  </form>
  
  <div class="management-links">
    <a href="/inbox/reply/<%= locals.message_id %>">Reply</a>
    <a href="/inbox/read/<%= locals.message_id %>">Mark as Read</a>
    <a href="/inbox/archive/<%= locals.message_id %>">Archive</a>
    <a href="/inbox/delete/<%= locals.message_id %>">Delete</a>
  </div>
  
  <!-- <script src="/js/script.js"></script> -->